@import "@material/textfield/mdc-text-field";

body {
    background: #9aa09d;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: rgb(223, 223, 0) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgb(223, 223, 0) !important;
}
