@import url('https://fonts.googleapis.com/css?family=Lato');
@import "@material/layout-grid/mdc-layout-grid";

$primary-light-background: #ffffff;
$primary-dark-color: #000000;
$primary-dark-background: #0b7b6a;
$primary-light-color: #ffffff;

body {
    font-family: Arial, Helvetica, sans-serif;
	background: $primary-dark-background;
    color: $primary-light-color;
    text-align: center;
}

*:not(.material-icons) {
    font-size: 14px; 
    font-family: 'Lato', sans-serif !important;
}
